@import '../../theme/__variables';
@import '../../theme/__button';

.previewContainer {
    min-width: 100vw;
    max-height: 45vh;
    text-align: center;
    padding: 2px 2px 2px 2px;
}

.solarImageContainer {
    position: relative;
    height: 35vh;
    width: 100%;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

%baseSolarImage {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

#solarImageLoading {
    @extend %baseSolarImage;
    z-index: 1;
}

#solarImage {
    @extend %baseSolarImage;
    z-index: 2;
}

.time {
    color: $color-primary-text;
    z-index: 3;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.button {
    @extend %base-button;
    padding: 0.3em 0.3em 0.3em 0.3em;
    z-index: 3;

    @include for-phone-up {
        $width: 80%;
        $center-margin: (100% - $width) / 2;
        width: $width;
        margin-left: $center-margin;
        margin-right: $center-margin;
    }

    @include for-tablet-portrait-up {
        $width: 60%;
        $center-margin: (100% - $width) / 2;
        width: $width;
        margin-left: $center-margin;
        margin-right: $center-margin;
    }

    @include for-tablet-landscape-up {
        $width: 40%;
        $center-margin: (100% - $width) / 2;
        width: $width;
        margin-left: $center-margin;
        margin-right: $center-margin;
    }

    @include for-desktop-up {
        $width: 20%;
        $center-margin: (100% - $width) / 2;
        width: $width;
        margin-left: $center-margin;
        margin-right: $center-margin;
    }
}
