// fonts
$font-default: Roboto,
Lato,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Helvetica,
Arial,
sans-serif;

$font-size-big: 18pt;
$font-size-default: 14pt;
$font-size-medium: 12pt;
$font-size-small: 10pt;
$font-size-tiny: 8pt;

// colors
$color-background: black;

$color-primary: #3F51B5;
$color-primary-light: #C5CAE9;
$color-primary-dark: #303F9F;
$color-primary-text: #FFFFFF;
$color-primary-accent: #FF5252;
$color-primary-divider: #BDBDBD;

$color-secondary: #03A9F4;
$color-secondary-light: #B3E5FC;
$color-secondary-dark: #0288D1;
$color-secondary-text: #FFFFFF;
$color-secondary-accent: #FFC107;
$color-secondary-divider: #BDBDBD;

// options
$hide-reset-zoom-button: true;

// sizes
$phone: 0em;
$tablet-portrait: 33em;
$tablet-landscape: 50em;
$desktop: 66em;

// media queries
@mixin for-phone-up {
    @media (min-width: $phone) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: $tablet-portrait) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: $tablet-landscape) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: $desktop) {
        @content;
    }
}
