@import './__variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $font-default;
    font-size: $font-default-size;
    color: $color-primary-text;
    background-color: $color-background;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
    font-weight: normal;
    color: $color-primary-text;
}
