@import "../_variables";

$fill-opacity: 0.25;

.heliotime-flare-a {
    fill: $color-primary !important;
    fill-opacity: $fill-opacity !important;
}

.heliotime-flare-b {
    fill: $color-secondary !important;
    fill-opacity: $fill-opacity !important;
}

.heliotime-flare-c {
    fill: $color-primary !important;
    fill-opacity: $fill-opacity !important;
}

.heliotime-flare-m {
    fill: $color-secondary !important;
    fill-opacity: $fill-opacity !important;
}

.heliotime-flare-x {
    fill: $color-primary !important;
    fill-opacity: $fill-opacity !important;
}

.highcharts-plot-band-label {
    fill: $color-primary-text;
    text-align: center;

    @include for-phone-up {
        font-size: $font-size-tiny;
    }

    @include for-tablet-portrait-up {
        font-size: $font-size-small;
    }

    @include for-tablet-landscape-up {
        font-size: $font-size-small;
    }

    @include for-desktop-up {
        font-size: $font-size-medium;
    }
}
