<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">

    <title>Heliotime.org - Interactive Timeline for GOES X-Ray Data</title>
    <meta name="description"
          content="Heliotime.org offerts you a new way to discover solar events and flares. View a timeline of all recorded X-Ray data from the GOES spacecraft."/>
    <meta name="keywords" content="Solar,Events,GOES,X-Ray,Timeline,Flares,Flux,Helioviewer">
    <meta name="distribution" content="global">
    <meta name=”robots” content=”index,noimageindex,follow”>
</head>

<body>
<h1 id="title">Heliotime.org</h1>
<div id="preview"></div>
<div id="timeline"></div>
<script>
    (function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js');
        }
    })();
</script>
</body>

</html>
