<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width">
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">

    <title>Heliotime.org - Interactive Timeline for GOES X-Ray Data</title>
</head>

<body>
    <h1 id="title">Heliotime.org</h1>
    <div id="preview"></div>
    <div id="timeline"></div>
</body>

</html>
